# Core Utilities & Logic
requests==2.25.1
urllib3==1.25.10
python-dateutil==2.8.1
pytz==2022.7.1
six==1.15.0
idna==2.10
chardet==4.0.0

# AWS & Cloud
botocore==1.42.6
jmespath==0.10.0
awscrt==0.28.4
git-remote-codecommit==1.17

# Templating & Data
Jinja2==2.11.3
MarkupSafe==1.1.1
PyYAML==5.4.1
jsonschema==3.2.0
Babel==2.9.1

# Linting & Quality (Needed for your Action)
pylint==3.3.9
astroid==3.3.11
isort==6.1.0
mccabe==0.7.0
platformdirs==4.4.0
tomlkit==0.14.0
typing_extensions==4.15.0